# Delete Tables

In [ ]:
import mysql.connector

try:
    conn = mysql.connector.connect(
        user='student',
        password='Bi3KSjqgrNOOL',
        host='localhost',
        database='student'
    )
    cursor = conn.cursor()

    # Start transaction
    conn.start_transaction()

    # Drop tables
    drop_sql = """
    DROP TABLE IF EXISTS 
        CollisionByTime,
        CollisionByRoadType,
        CollisionByWeather,
        CollisionByWeatherAndRoad,
        TorontoCollisions;
    """
    cursor.execute(drop_sql)

    # Commit transaction
    conn.commit()
    print("Tables dropped successfully.")

except mysql.connector.Error as err:
    print("Error:", err)
    conn.rollback()
    print("Transaction rolled back.")

finally:
    cursor.close()
    conn.close()